<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, class: "input-xxlarge" %>
  </div>
  <div class="field">
    <%= f.label :content %>
    <p>支持markdown语法</p>
    <%= f.text_area :content, rows: 10 , class: "input-block-level", placeholder: "markdown" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
