<!DOCTYPE html>
<html>
  <head>
    <title>Iblog</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">iblog</a>
          <!-- Everything you want hidden at 940px or less, place within here -->
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
               <li class="divider-vertical"></li>
              <li><a href="#">Archive</a></li>
               <li class="divider-vertical"></li>
              <li><a href="https://gist.github.com/dp90219/1dc81a815887b3b2cd3b#file-liupeng-s-cv-md">About</a></li>
            </ul>

            <div class="pull-right user_header">
              <ul class="nav">
                <% if current_user %>
                  <li><p class="navbar-text"> Logged in as  <%= current_user.name %></p></li>
                   <li class="divider-vertical"></li>
                  <li><%= link_to "Log Out", logout_path %></li>
                   <li class="divider-vertical"></li>
                  <li> <%= link_to "New Post", new_post_path %></li>
                <% else %>
                  <li> <%= link_to "Sign Up", signup_path %><li>
                   <li class="divider-vertical"></li>
                  <li><%= link_to "Log In", login_path %></li>
                <% end %>
              </ul>
            </div>  
          </div>
        </div>
      </div>
    </div>
    <div class="flash">
      <% flash.each do |name, msg| %>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= content_tag :div, msg, class: "alert alert-#{name}" %>
      <% end %>
    </div>
    <div class="container" id="container">
      <div class="row" id="main">
        <div class="span8">
          <%= yield %>
        </div>
        <div class="span3" id="sidebar">
          <h2>About Me</h2>
          <div class="">
            <p>
            This is a simple blog demo based on Ruby-on-Rails and Twitter-Bootstrap.It is achieved that any person who has signed up and logged in can write new post int this platform, but can only edit and delete the posts under his or her account. You do not have right to edit or delete others' posts. Enjoy yourself to surfing this blog. Thanks for reading.
             </p>
          </div>
        </div>
      </div>

    </div>

</body>
</html>
